#special-box p {
  color: blue;
}

p {
  font-size: 24px;
}

#section-one .para {
  font-size: 28px;
}

#section-one {
  font-size: 32px;
}

input[type="text"] {
  font-size: 36px;
}

.footer-note {
  background-color: orange !important;
}

#copyright {
  background-color: black;
}