body{
    background-color: #0d0d0d;
    color: #e0e0e0;
    font-family: system-ui, 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0px;
}
header, footer, section{
    background-color: #1f1f1f;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

h2{
    line-height: 1;
}

h1, h2{
    color: #a259ff;
}

h3{
    color: white;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    color: #a259ff;
}

header p{
    font-size: 1.1rem;
    margin: 0px;
}

#contactlist{
    list-style: none;
    padding: 0;
}
#contactlist span{
    font-weight: bold;
}

#contactlist a:hover{
    text-decoration: underline;
}

header, footer, main{
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; */
    padding: 20px;
}

.header-container{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    gap:30px;
}
header img{
    width: 180px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(162, 89, 255, 0.4); 
}

section{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
}

#projects_container div{
    background-color: #141414;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 230px;
}

#projects_container div{
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 6px;
    box-shadow: 0 8px 20px rgba(162, 89, 255, 0.4); 
    border: 1px solid #2a2a2a
}

#projects_container{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
}

.footer-container{
    display: flex;
    justify-content: center;
}